/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*reset.css end*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

:root {
    --green: #3F5D45;
    --light-green: #EAF0ED;
    --yellow: #FFE180;
    --white: white;
}
  
body {
    font-family: 'PingFang TC', '微軟正黑體', sans-serif;
    font-size: 20px;
    color: var(--green);
    /* padding-bottom: 50px; */
}
  
.container,
.banner,
.cake-container,
.highlight-container,
.footer {
    max-width: 1024px;
    margin: 0 auto;
}

.logo {
    width: 220px;
}
  
.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
  
.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}
  
.nav a {
    text-decoration: none;
    padding: 7px 60px;
    color: var(--green);
}
  
.nav.active .container {
    padding: 10px 0;
}

.nav a:hover {
    font-weight: bold;
}

.banner {
    background-image: url('img/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    margin-bottom: 20px;
}

.icon {
    font-size: 20px;
    color: var(--green);
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: relative;
    height: 24px;
    width: 24px;
}

.cake-container {
    display: flex;
    margin-bottom: 60px;
    margin-top: 60px;
}
  
.sidemenu {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    width: 300px;
    list-style-type: none;
    margin-block-start: 0;
    margin-right: 10px; 
} 

.title {
    background-color: var(--green);
    color: var(--white);
}

.sidemenu li {
    width: 300px;
    height: 65px;
    padding: 20px;
    border: 1px solid var(--light-green);
}

.sidemenu li a { 
    text-decoration: none;
    color: var(--green);
}

.current {
    background-color: var(--light-green);
}

.cake-item {
    width: 640px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
}

.item {
    width: 300px;
}
 
.recommendation {
    background-color: var(--green);
    width: 36px;
    height: 107px;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item1 {
    width: 300px;
}

.item1 a {
    color: var(--white);
    text-decoration: none;
    padding-left: 10px;
    text-align: center;
}

.fa-heart {
    font-size: 16px;
}

.cake {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 315px;
    margin: auto;
    cursor: pointer;
    max-width: 100%;
    position: relative;
}

.cake .recommendation  {
    position: absolute;
    top: 0;
    left: 20px;
}

.cake .fa-heart {
    position: absolute;
    top: 19px;
    left: 258px;
}

.item2 {
    display: flex;
    width: 300px;
    height: 56px;
}

.name {
    width: 173px;
    font-weight: 100;
    padding: 14px 33px;
}

.price {
    width: 127px;
    font-weight: 600;
    padding: 10px 0;
}

.name,
.price {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--light-green);
}

.add-to-cart {
    width: 300px;
    background-color: var(--light-green);
    outline: none;
    border: none;
    font-size: 24px;
    font-weight: 600px;
    color: var(--green);
    text-align: center;
    padding: 16px 0;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 60px;
}

.arrow {
    width: 60px;
    height: 60px;
    font-size: 24px;
}

.page {
    width: 60px;
    height: 60px;
    font-weight: 100;
    padding: 16px 24px;
}

.arrow,
.page {
    border: 1px solid var(--light-green);
    cursor: pointer;
}

.page-active {
    background-color: var(--green);
    color: var(--white);
    font-weight: 600;
    border: none;
}

.highlight {
    background-color: var(--green);
}

.highlight-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.dark-bg-logo {
    width: 40px;
}

.cta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.light {
    margin-left: 20px;
    color: var(--light-green);
    font-size: 24px;
}

.form {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 380px;
    height: 56px;
    background-color: var(--light-green);
}

.subscribe {
    width: 64px;
    height: 56px;
    background-color: var(--yellow);
    outline: 0;
    border: 0;
}

.form .envelope {
    position: absolute;
    top: 16px;
    left: 20px;
    font-size: 24px;
}

.email {
    outline: none;
    border: none;
    width: 292px;
    height: 56px;
    background-color: var(--light-green);
}

footer {
    background-color: var(--light-green);
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer img {
    width: 171.22px;
    height: 26.6px;
}

.footer-left {
    padding: 38.9px 0 30px;
}

.contact {
    list-style-type: none;
    margin-top: 115px;
    font-size: 16px;
}

.contact li a {
    text-decoration: none;
    color: var(--green);
}

.sns {
    display: flex;
    list-style-type: none;
    margin-top: 30px;
}

.sns img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px 0;
    font-family: "Times", serif;
    font-weight: 400;
    font-size: 16px;
}

.mt1 {
    margin-top: 30px;
}

.straight {
    font-family: "Noto Serif TC", serif;
    font-size: 24px;
    font-weight: 600;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    letter-spacing: 5px;
}

